:root{
    font-size: 6vw;

    --h1-font: 'Dancing Script', cursive;
    --h2-font: 'Lora', serif;
    --h1-color: rgb(116, 30, 94);
    --h2-color: rgb(239, 226, 226);
}
@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Regular.ttf');
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.ttf');
}
body{
    margin: 0;
    
}
#splash-container{

    background-image: url('https://picsum.photos/id/1035/5854/3903');
    background-repeat: none;
    background-size: cover;
    background-position: bottom;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#clip{
    position: absolute;
    opacity: calc(1 - 0.65);
    left: 0;
    top: 0.5rem;
    width: 100vw;
    height: calc(300px + 32px + 20px);
    background-image: url(../images/wave.svg);
    background-size: cover;
    background-repeat: repeat-x;
    clip-path: ellipse(70% 20% at 100%);
}
@media only screen and (max-width: 900px) {
    #clip{
        display: none;
    }
}


.splash-text{
    margin: 0;
    transition: ease 200ms;
}
a{
    color: var(--h1-color);
    text-decoration: none;
}
h1.splash-text{
    font-family: var(--h1-font);
    text-shadow: 0 0 0.5rem rgba(252, 252, 252, 0.9);
}
h1.splash-text:hover{
    
    text-shadow: 0 0 0.5rem rgb(255, 255, 255);
    /* transform: translateY(-2px); */
    transform: rotate3d(1, 1, 1, 2deg);
}
h2.splash-text{
    
    font-size: 3vw;
    font-family: var(--h2-font);
    color: var(--h2-color);
    text-shadow: 0 0 0.5rem rgba(48, 48, 55, 0.8);
}
.social-icons{
    position: absolute;
    top: 0.25rem;
    right: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}
.social-icon{
    width: 32px;
    height: 32px;
    margin: 16px;

    transition: ease 200ms;
}
.social-icon:hover{
    transform: translate(0, -4px);
}
#twitter-icon{
    background-image: url(../images/twitter.png);
    background-size: cover;
}
#instagram-icon{
    background-image: url(../images/instagram.png);
    background-size: cover;
}
#facebook-icon{
    background-image: url(../images/facebook.png);
    background-size: cover;
}