@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@500&display=swap');

body{
    background: rgb(212,239,242);
background: radial-gradient(circle, rgba(212,239,242,1) 0%, rgba(194,211,235,1) 100%);
}

.resume{
    max-width: 70rem;
    margin: 0 auto;
    display: grid;

    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    grid-template-columns: 1fr; 
    grid-template-rows:  min-content;
    grid-auto-flow: row dense;
    grid-template-areas: 
        "profile-name"
        "profile-photo"
        "nav"
        "about"
        "skills"
        "work" 
        "community"
        "education"
        "references"
        "footer"
        ;
}

a:link{
    color: #000;
}
a:visited{
    color: #000;
}
a:hover{
    color: #000;
    text-decoration-color: rgb(212,239,242);
    text-decoration-thickness: 0.5rem;
}
a:active{
    color: #000;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    padding: 0 0 0 1rem;
}
h4{
    font-size: 1.5rem;
    padding: 0 0 0 1.5rem;
}
h5{
    font-size: 1.25rem;
    padding: 0 0 0 2.5rem;
}

@media only screen and (min-width:46rem){
    .resume{
        grid-template-columns: 1fr 1fr; 
        grid-template-rows:  min-content;
        grid-auto-flow: row dense;
        grid-template-areas: 
        "profile-name profile-photo"
        "nav nav"
        "work about"
        "work skills"
        "work community"
        "work education"
        "references references"
        "footer footer"
        ;
    }
}

.grid-item{
    /* margin: 1rem; */
}


.profile-name{
    grid-area: profile-name;
    place-self: center;
    font-size: 1.75rem;
    text-align: center;
}


.profile-photo{
    max-width: 100%;
    width: 15rem;
    height: 15rem; 
    background-image: url("../images/photo-small.jpg");

    background-position: left;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    border-radius: 25%;

    grid-area: profile-photo;
    place-self: center;
}

/* Resize Profile Photo */
@media only screen and (min-width: 40rem){
    .profile-photo{
        width: 32rem;
        height: 32rem;
        background-image: url("../images/photo-medium.jpg");

    }
}
/* End Resize Profile Photo */



.main-nav{
    margin-top: 1.5rem;
    grid-area: nav;
    place-self: center;
}
.main-nav-list{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
}
.main-nav-list li{
    padding: 1rem;
}
.main-nav-list li:hover{
    background-color: rgb(255, 255, 255);
}
.main-nav a{
}

.about, .work, .education, .skills, .community-service, .references{
    
    background-color: #f6f6f6;
}

.about {
    grid-area: about;
}
.about p{
    padding: 0 2rem;
}
.work{
    grid-area: work;
}
.work-list{
}
.work-item li{
    padding: 0.25rem;
}
.work-item i {
    padding-left: 0rem;
    font-size: 0.9rem;
}
.work-item ul{
    list-style: initial;
    padding: 0 4rem;
}
.education{
    grid-area: education;
}
.education h4{
    padding: 0 1.2rem;
}
.education p{
    padding: 0 3rem;
}
.skills{
    grid-area: skills;
}
.skills ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding: 0 2rem;
    margin-left: -0.5rem;
}
.skills ul li{
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.125rem #eee dashed;
}
.community-service{
    grid-area: community;
}
.community-service p{
    padding: 0 2rem;
    /* max-width: 30rem; */
}
.references{
    grid-area: references;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding-bottom: 4rem;
}
.references h3{
    width: 100%;
    text-align: center;
    padding-left: 0;
}
p.reference-address{
    font-size: 0.75rem;
}
.reference{
    max-width: 12rem;
    padding: 0 1rem;
}
.reference h4{
    padding: 0;
}

footer{
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;

    font-size: 0.75rem;

    padding: 1rem 0;
}
footer p{
    width: 100%;
    text-align: center;
}
@media only screen and (min-width: 40rem){
    footer p{
        width: 50%;
    }
}