/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


/* Import Fonts */
@font-face {
    font-family: "Roboto";
    src: url(../fonts/sans-serif/roboto-regular.ttf);
  }

@font-face {
      font-family: "Robotoslab";
      src: url(../fonts/serif/robotoslab-regular.ttf);
    }

/* Reset Margins and Set Default Font Specifications */
html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
}

/* Main Header Styles */
header > h1 {
    text-align: center;
    transform: rotate(-2deg);
    padding: 1rem;
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 0.1rem 0.1rem 0.2rem #333;
}

header > h1 > .highlight {
    background-color: #83344d;
    color: #eeeedd;
    font-family: "Robotoslab", serif;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 1rem 0 1rem 0;
    box-shadow: 0.2rem 0.2rem 0.1rem 0rem #333;
    -webkit-box-shadow: 0.2rem 0.2rem 0.1rem 0rem #333;
    -moz-box-shadow: 0.2rem 0.2rem 0.1rem 0rem #333;
}

/* Navigation Menu Styles */
nav {
    max-width: 100%;
    border: 0.05rem solid #333;
    border-left: none;
    border-right: none;
    border-color: #333;
    min-height: 4.5rem;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding-top: 0.5rem;
    padding-left: 2rem;
  }

nav > ul > li {
    float: left;
    max-width: 5rem;
    padding: 1rem;
}

nav > ul > li > a {
    float: left;
    font-size: 1.4rem;
    font-weight: 600;
    color: #27476e;
}

nav > ul > li > a:link {
    color: #27476e;
    text-decoration: none;
}

nav > ul > li > a:visited {
    color: #27476e;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #333;
    text-transform: uppercase;
    transform: rotate(+5deg);
    text-decoration:line-through;
}

nav > ul > li > a:active {
    color: #27476e;
    text-decoration: none;
}

/* Main Styles */
main {
    font-size: 1.2rem;
    padding-left: 3rem;
}

/* Article Styles */
article {
    max-width: 70%;
    float: left;
    padding-right: 1rem;
    line-height: 150%;
}

/* Time Format Styles */
time {
    font-size: 0.8em;
    font-weight: 300;
}

/* Main-Section Styles */
section.main-section > article > figure.article-image {
    float: left;
    margin: 0;
    padding-right: 1rem;
}

section.main-section > article > p {
    margin-top: 0;
    padding-top: 0;
}

/* Subsection Styles */
section.subsection > figure.article-image {
    float: left;
    max-width: 32%;
    margin: 0;
    padding: 0.3rem; 
}

section.subsection > figure.article-image:nth-child(1){
    padding-left: 0;
}

section.subsection > figure.article-image:nth-child(3){
    padding-right: 0;
}

section.subsection > figure.article-image > img {
    max-width: 100%;
    margin-bottom: -0.5rem;
}

section.subsection > figure.article-image > figcaption {
    background-color: #eeeedd;
    font-size: 0.6em;
    font-weight: 300;
    padding: 0.5rem;
}

/* Button Styles */
button.subscribe-button {
    margin: 2rem 0 1rem 0;
    float: left;
    padding: 1rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0rem #333;
    -webkit-box-shadow: 0.2rem 0.2rem 0.2rem 0rem #333;
    -moz-box-shadow: 0.2rem 0.2rem 0.2rem 0rem #333;
    background-color: #27476e;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: "Robotoslab", serif;
    color: #eeeedd;
    font-weight: 900;
}

button.subscribe-button:hover {
    transform: rotate(5deg);
    text-decoration: line-through;
}

/* Aside Styles */
aside {
    margin-top: 0;
    max-width: 20%;
    float: right;
    line-height: 150%;
    border-left: 0.1rem solid #333;
    padding: 0 2.5rem 0 2.5rem;
    font-size: 0.8rem;
}

aside > img {
    max-width: 100%;
}

aside > h3:nth-child(1) {
    margin-top: 0;
}

aside > p {
    border-bottom: 0.1rem solid #333;
    padding-bottom: 2rem;
}

.expand {
    text-decoration: none;
    font-size: 0.4rem;
}

/* Footer Styles */
footer {
    float: left;
    width: 100%;
}

footer > p {
    font-size: 0.8rem;
    font-weight: 300;
    padding: 3rem;    
}

footer p:nth-child(1) {
    float: left;
}

footer p:nth-child(2) {
    float: right;
    text-align: right;
}

footer > p > a {
    font-size: 0.7rem;
    text-decoration: none;
}

/*  --- Width =< 1150px Styles ---
    I don't think the assignment requires a media query or else 
    we would have designed mobile first, but I couldn't help 
    trying to make it look a little bit nicer on mobile. */
@media screen and (max-width: 1150px) {

    header > h1 {
        font-size: 1.3rem;
    }

    nav > ul{
        padding-left: 0;
    }

    nav > ul > li > a {
        font-size: 0.8rem;
    }

    main{
        padding-left: 1rem;
    }

    article {
        max-width: 90%;
        width: 90%;
        margin: 0;
    }
    section.main-section > article > figure.article-image {
        max-width: 100%;
    }
    section.main-section > article > figure.article-image > img {
        max-width: 100%;
    }
    section.main-section > article > p {
        max-width: 100%;
        
        padding: 0.5rem;
    }
    section.subsection > figure.article-image {
        max-width: 100%;
    }

    aside {
        border-left: none;
        padding-left: 0;
        padding-top: 2rem;
        float: left;
        max-width: 100%;
    }
    aside > img {
        max-width: 100%;
    }

    aside > h3 {
        margin-top: 3rem;
    }

    footer > p {
        padding: 0;
    }
    
    footer p:nth-child(1) {
        float: none;
    }

    footer p:nth-child(2) {
        float: none;
        text-align: left;
    }

}